body {
	background-color: #f9faff;
	font:12px Verdana, Arial, Helvetica, sans-serif;
}

#container {
	margin-top:10px;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #e0e8ef;
	border: 1px solid #aeaeae;
}

#content {
	margin-top: 10px;
	padding: 20px 0px 20px 10px;
	background: #fff;
	border: 1px solid #aeaeae;
}

#inner-header, #inner-footer {
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	background: #fff;
	border: 1px solid #aeaeae;
}

.buttons {
	text-align:right;
}

#steps {
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
	background: #fff;
	border: 1px solid #aeaeae;
}

h1, h2, h3, h4 {font-family:"Trebuchet MS", Verdana, sans-serif;}
h1 {font-size:26px;}
h2 {font-size:18px;}
h3 {font-size:16px;}

p {
	margin-bottom: 10px;
	padding-right: 5px;
}

.yes a, .on a{
    color:green;
	text-decoration:none;
	font-weight:bold;
	border-bottom:0px solid green;
}
.no a, .off a{
    color:red;
	text-decoration:none;
	font-weight:bold;
	border-bottom:0px solid red;
}

blockquote {
	background:#eee url(../img/quote.png) 5px 5px no-repeat;
	padding:8px 8px 0 35px;
	font:normal 14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	display:block;
	border: solid 1px #ddd;
	clear:both;
	margin-bottom: 5px;
	margin-right: 10px;
}

div.general-error {
	background: #800000;
	padding:8px;
	font:normal 14px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	display:block;
	border: solid 1px #300000;
	color: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
}

div.input {
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	border: #e0e0e0 1px solid;
	background-color: #fefeff;
	clear:both;
}

div.input.error {
	background-color: #fff3f3;
}

div.input div {
	display: block;
	margin-top: 5px;
	margin-left: 0.2em;
	color: #5f5f5f;
	font-weight: normal;
	font-style: italic;
}

div.input div.error-message {
	margin-top: 0px;
	color: #900f0f;
	font-style: normal;
}

label {
	display: block;
	font-size: 100%;
	padding-bottom: 10px;
	text-align: left;
	font-weight: bold;
}
div.required label {
	color: #800000;
}
div.select select {
	width:580px;
}
input, textarea {
	clear: right;
	font-size: 95%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 3px;
	width: 570px;
	border-color: #777;
	border-style: solid;
	border-width: 1px;
	padding-right: 8px;
}
fieldset {
	padding: 10px;
	margin-right: 15px;
}
h4.field-heading {
	font-size: 1.3em;
	font-weight: bold;	
}
div.radio input {
	display: inline;
	width:auto;
}
div.radio label {
	display:inline;
	margin-right:20px;
}

#content.grid_12, #inner-header.grid_12 {
	width: 925px;
}

#errors {
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 10px;
	border: #afafaf solid 1px;
	background-color: #e0e8ef;
}

#errors h4 {
	margin-top: 5px;
	font-size: 1.2em;
}

#errors li {
	margin-bottom: 5px;
	margin-left: 5px;
}