[submodule "Plugin/WysiwygTinyMce"]
	path = Plugin/WysiwygTinyMce
	url = git://github.com/Infinitas-Plugin/wysiwyg_tiny_mce.git
[submodule "Plugin/WysiwygCkEditor"]
	path = Plugin/WysiwygCkEditor
	url = git://github.com/Infinitas-Plugin/wysiwyg_ck_editor.git
[submodule "Plugin/Geshi"]
	path = Plugin/Geshi
	url = git://github.com/Infinitas-Plugin/geshi.git
[submodule "Plugin/Facebook"]
	path = Plugin/Facebook
	url = git://github.com/Infinitas-Plugin/facebook.git
[submodule "Plugin/Gallery"]
	path = Plugin/Gallery
	url = git://github.com/Infinitas-Plugin/gallery.git
[submodule "Plugin/Thickbox"]
	path = Plugin/Thickbox
	url = git://github.com/Infinitas-Plugin/thickbox.git
[submodule "Plugin/Twitter"]
	path = Plugin/Twitter
	url = git://github.com/Infinitas-Plugin/twitter.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = git://github.com/Infinitas-Plugin/debug_kit.git
[submodule "Plugin/Cms"]
	path = Plugin/Cms
	url = git://github.com/Infinitas-Plugin/cms.git
[submodule "Plugin/Blog"]
	path = Plugin/Blog
	url = git://github.com/Infinitas-Plugin/blog.git
[submodule "Plugin/Shop"]
	path = Plugin/Shop
	url = git://github.com/Infinitas-Plugin/shop.git
[submodule "Plugin/Backlinks"]
	path = Plugin/Backlinks
	url = git://github.com/Infinitas-Plugin/backlinks.git
[submodule "Developer"]
	path = Developer
	url = git://github.com/Infinitas-Plugin/developer
[submodule "Plugin/ViewCounter"]
	path = Plugin/ViewCounter
	url = git://github.com/Infinitas-Plugin/view_counter.git
