# Infinitas ignores
Config/database.php

Core/Contents/webroot/pages/*
Core/Emails/attachments/*
Core/Emails/webroot/img/images/*
Core/GeoLocation/Lib/GeoIP/city.dat
Core/Newsletter/Config/Config.php

Libs/Cronjobs
Plugin/*

tmp/

View/Themed/*
View/Pages/*

webroot/robots.txt
webroot/img/content/*
webroot/*

.gitignore

# If you are using an ide other than below add ignores for the files it creates
# and commit the changes.

# Ignore Mac system files
.Ds_Store

# Sublime

*.sublime*

# PHPEdit project files
*.PHPEditProject
*.PHPEditBackup
*.LCK

# Eclips project files
.project
.buildpath
.settings/*
.tmp*

# vim project files
.vimrc.custom

# NetBeans project files
nbproject/*

# Geany
*.geany

# PhpStorm
.idea
