# Infinitas ignores
config/database.php
libs/cronjobs
plugins/*
tests/
tmp/*
views/themed/*
webroot/img/content/contact/*
.gitignore
config/schema/schema.php

# If you are using an ide other than below add ignores for the files it creates
# and commit the changes.

# PHPEdit project files
*.PHPEditProject
*.LCK

# Eclips project files
.project
.buildpath
.settings/*
.tmp*

# vim project files
.vimrc.custom
