<IfModule mod_rewrite.c>
    RewriteEngine on

	#follow symlinks for plugin / theme assets
	Options +FollowSymlinks
	
	#cake rewrites
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]

	# you probably want www.example.com to forward to example.com -- shorter URLs are sexier.
	#   no-www.org/faq.php?q=class_b
	RewriteEngine On
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
 </IfModule>

# Force the latest IE version, in various cases when it may fall back to IE7 mode
# github.com/rails/rails/commit/123eb25#commitcomment-118920
# Use ChromeFrame if it's installed for a better experience for the poor IE folk
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    BrowserMatch MSIE ie
    Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
  </IfModule>
</IfModule>

# allow access from all domains for webfonts
# alternatively you could only whitelist
#   your subdomains like "sub.domain.com"
<FilesMatch "\.(ttf|otf|eot|woff|font.css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>


# these are pretty far-future expires headers
# they assume you control versioning with cachebusting query params like
#   <script src="application.js?20100608">
# additionally, consider that outdated proxies may miscache
#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/

# if you don't use filenames to version, lower the css and js to something like
#   "access plus 1 week" or so

<IfModule mod_expires.c>
  #Header set cache-control: public
  #ExpiresActive on

# Perhaps better to whitelist expires rules? Perhaps.
  #ExpiresDefault                          "access plus 1 month"

# cache.manifest needs re-reqeusts in FF 3.6 (thx Remy ~Introducing HTML5)
  #ExpiresByType text/cache-manifest       "access plus 0 seconds"

# your document html
  #ExpiresByType text/html                  "access"

# rss feed
  #ExpiresByType application/rss+xml       "access plus 1 hour"

# favicon (cannot be renamed)
  #ExpiresByType image/vnd.microsoft.icon  "access plus 1 week"

# media: images, video, audio
  #ExpiresByType image/png                 "access plus 1 month"
  #ExpiresByType image/jpg                 "access plus 1 month"
  #ExpiresByType image/jpeg                "access plus 1 month"
  #ExpiresByType video/ogg                 "access plus 1 month"
  #ExpiresByType audio/ogg                 "access plus 1 month"
  #ExpiresByType video/mp4                 "access plus 1 month"

# webfonts
  #ExpiresByType font/ttf                  "access plus 1 month"
  #ExpiresByType font/woff                 "access plus 1 month"
  #ExpiresByType image/svg+xml             "access plus 1 month"

# css and javascript
  #ExpiresByType text/css                  "access plus 1 month"
  #ExpiresByType application/javascript    "access plus 1 month"
  #ExpiresByType text/javascript           "access plus 1 month"
</IfModule>