<IfModule mod_rewrite.c>
    RewriteEngine on

	#follow symlinks for plugin / theme assets
	Options +FollowSymlinks
	
	#cake rewrites
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>