@import url('reset.css');

#header{
	background:transparent url(../img/core/infinitas_small.png) no-repeat left top;
	height: 50px;
	font-family:monospace;
	font-size:400%;
	font-weight:bold;
	height:50px;
	padding-left:110px;
}

#wrap{
	width:520px;
	margin:auto;
	margin-top:20px;
}
	p {
		margin:10px;
	}

	.back,
	.back:link
	.back:visited{
		float: right;
		color: red;
		text-decoration:none;
	}

	.back:hover{
		text-decoration:underline;
	}