/** import some reset stuff */
@import url('reset.css');
@import url('core.css');
@import url('pagination.css');
@import url('navigation.css');
@import url('form.css');

/* main styles */
body {
  	color:       #000;
	font-family: tahoma,arial,sans-serif;
	font-size:   11px;
    height:      100%;
}

/** links */
a {
	color:           #DF7E0D;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Global layout */
    /* main container */
    #wrap {
    	width:      100%;
    	margin:     0 auto;
        height:     100%;
        background: #ffffff;
    }
        /* header */
        #header {
        	width:            100%;
        	height:           31px;
			background-image: url(../img/nav/btn3.jpg);
			margin-bottom:    10px;
    	}

        /* main body */
        #content {
            margin: 0 15px;
        }

        /* footer */
        #footer {
        	width:  100%;
        	height: 15px;
            clear:  both;
    	}

        #bottom-credits{
            width:  99%;
            margin: auto;
        }

.data {
	width: 70%;
	float: left;
}

.config {
	width: 29%;
	float: right;
}

.categories .data,
.configs .data{
	width: 40%;
}

.categories .config,
.configs .config{
	width: 59%;
}

.categories textarea,
.configs textarea{
	width: 95%;
	clear: both;
}

/**
    Main Content styles
*/
.top-bar {
	float:   left;
	padding: 0 0 0 9px;
	margin:  0 0 4px 0;
}

    /* text page header */
    .top-bar h1 {
    	font:   20px/21px verdana,sans-serif;
    	color:  #43729F;
    	margin: 0 0 4px 0;
    }

    .main-actions{
        float: right;
    }

.error-message{
	color: #ff0000;
}


/* table container */
div.table {
	float:  left;
	width:  100%;
	margin: 0 0 5px 0;
}

table.listing {
	border-bottom: 1px solid #9097A9;
	width:         100%;
	padding:       0;
	margin:        0;
	border:        1px solid #9097A9;
}

table.listing th {
	border-top: 0 !important;
}

table.listing th.full {
	border-left:    0;
	border-right:   0 !important;
	text-align:     left;
	text-transform: uppercase;
}

div.table img.left {
	position: absolute;
	top:      0;
	left:     0;
}

div.table img.right {
	position: absolute;
	top:      0;
	right:    0;
}


/* table styles */
table.listing td,
table.listing th {
	border: 0px dotted #ffffff;
}

table.listing th {
	background: #D8D8D8;
	color:      #fff;
	padding:    5px;
    text-align: left;
}

table.listing .highlightRowSelected td,
table.listing .bg.highlightRowSelected td,
table.listing .highlightRowSelected.highlightRowRelated td,
table.listing .bg.highlightRowSelected.highlightRowRelated td {
	background: none repeat scroll 0 0 yellow;
}

table.listing .highlightRowRelated td,
table.listing .bg.highlightRowRelated td,
table.listing .highlightRowRelated.highlightRowSelected td,
table.listing .bg.highlightRowRelated.highlightRowSelected td {
	background: none repeat scroll 0 0 red;
}

.actions{
    width: 100px;
}

table.listing td {
	background: #ECECEC;
	color:      #000;
	padding:    3px 5px;
}

table.listing .bg td {
	background: #ECECEC;
}

table.listing .white td {
	background: #ffffff;
}

table.listing .first {
	border-left: 0px solid #9097A9;
	text-align:  left;
}

table.listing .last {
	border-right: 0px solid #9097A9;
}

table .listing{
	background-image: url(../img/core/infinitas_med.png);
}

table.form .last {
	padding:    1px 0 1px 5px;
	text-align: left;
}

table.form th,
table.form td {
	padding-left: 10px;
}

table.form input.text {
	width: 262px;
}

/* table select */
div.table .select {
	float:      right;
	margin:     2px 1px 0 0;
	width:      176px;
	height:     25px;
	background: #9097A9 url(../img/bg-select.gif);
	color:      #ffffff;
}

div.table .select strong {
	float:   left;
	padding: 5px 0 0 5px;
}

div.table .select select {
	float:      right;
	width:      78px;
	margin:     2px 3px 0 0;
	text-align: right;
}

.title{
    width: 99%;
}

.box ul{
    margin:     0;
    padding:    0;
    list-style: none;
}

.adminTopBar{
}

/* Dashboard styles */

.dashboard { color: #333; }
.dashboard .counts{ overflow:auto; font-size:120%; }
.dashboard .count{ width:30%; float:left; padding-right:10px; }
.dashboard h2 { font-size: 14px; margin-bottom: 14px; }
.dashboard h3, .dashboard h3, .dashboard h3, .dashboard h4 { font-weight: normal; }
.dashboard a { color: #224488; }
.dashboard a:hover { color: #f63; text-decoration: none; }
.dashboard .info { padding: 10px; margin-bottom: 15px; background-color: #f5f5f5; border: 1px dotted #ccc; border-width: 1px 0; }
.dashboard .column-a { width: 50%; float: left }
.dashboard .column-b { width: 50%; float: right }
.dashboard .column-b .box { margin-left: 15px; }
.dashboard .box h3, .dashboard .box .view-all { font-size: 14px; line-height: 24px; }
.dashboard .box .view-all a { color: #999; }
.dashboard .tasks a { color: #333; }
.dashboard .tasks a:hover div { background-color: #f2f2f2; border-color: #f90; }
.dashboard .tasks .item { background-color: #eee; border-top: 6px solid #cbcbcb; padding: 10px; padding-left: 40px; margin-bottom: 10px; min-height: 50px; background: #eee no-repeat 12px 12px; }
.dashboard .tasks h4 { font-size: 16px; margin-bottom: 15px; }
.dashboard .charts li { float: left; border: 1px solid #ccc; margin: 5px 5px 0 0; }
.dashboard .charts h4 { font-size: 11px; line-height: 16px; padding: 5px; background-color: #ccc; }
.dashboard .charts img { padding: 5px; }
.dashboard .feed li { padding: 10px; padding-left: 40px; background: #fcfdfe no-repeat 12px 12px; }
.dashboard .feed li.alternate { background-color: #eff2f7; }
.dashboard .feed h4 { font-size: 12px; line-height: 18px; }
.dashboard .feed .preview { padding-top: 5px; }
.clear { clear: both; }
.right { float: right; }
.left { float: left; }
.quiet { color: #999; }
p { line-height: 1.2em; }

.dashboard .comment{
	background: url('/infinitas/img/core/icons/fatcow/16/comments.png') no-repeat scroll 12px 12px #EEEEEE;
	overflow:   auto;
}

.dashboard .gravitar{
	width:        50px;
	height:       50px;
	overflow:     hidden;
	float:        left;
	margin-right: 10px;
}

.dashboard .actions{
	float: right;
	width: auto;
}
	.dashboard .actions a:hover{
		text-decoration: underline;
	}

	.dashboard .actions a.accept{
		color: green;
	}
	.dashboard .actions a.reply{
		color: orange;
	}
	.dashboard .actions a.delete{
		color: red;
	}
	
	
/**
	Tool tips
*/
#tooltip {
	position:         absolute;
	z-index:          3000;
	border:           1px solid #111;
	background-color: #eee;
	padding:          5px;
	opacity:          0.85;
}

#tooltip h3, #tooltip div { 
	margin: 0; 
}

#tooltip.pretty {
	font-family: Arial;
	border:      none;
	width:       210px;
	padding:     20px;
	height:      135px;
	opacity:     0.8;
}

#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size:     12pt;
	width:         220px;
	text-align:    left;
}

#tooltip.pretty div { 
	width:      220px; 
	text-align: left; 
}

#tooltip.fancy {
	background:  url('../img/tooltip/shadow2.png');
	padding-top: 5em;
	height:      100px;
}

#tooltip.fancy.viewport-right {
	background: url('../img/tooltip/shadow2-reverse.png');
}