/** import some reset stuff */
@import url('reset.css');
@import url('admin/core.css');
@import url('admin/pagination.css');
@import url('admin/navigation.css');
@import url('admin/form.css');
@import url('/core/css/geshi');

/* main styles */
body {
	background:#BBD9EE;
  	color:#000;
	font-family:tahoma,arial,sans-serif;
	font-size:11px;
    height:100%;
}

/** links */
a {color:#060606;text-decoration: none}
a:hover {text-decoration: underline}
    /** logo */
    a.logo {
    	position:absolute;
    	top:5px;
    	left:20px;
    }


/* Global layout */
    /* main container */
    #main {
    	width:100%;
    	margin:0 auto;
        height:100%;
        background:#ffffff;
    }
        /* header */
        #header {
        	width:100%;
        	height:106px;
        	background: url(../img/admin/header-middle.jpg) repeat-x left bottom;
    	}
            #header .left, #header .right{
                width:19px;
            	height:106px;
            }

            #header .left{
            	background:url(../img/admin/header-left.jpg) no-repeat left bottom;
            }

            #header .right{
                float:right;
            	background:url(../img/admin/header-right.jpg) no-repeat right bottom;
            }

        /* main body */
        #middle {
            padding-left:15px;
            background:#FFFFFF url(../img/admin/middle-left.jpg) repeat-y;
        }
            #middle #wrap {
            	background:url(../img/admin/middle-right.jpg) repeat-y scroll 100% 0;
                width:100%;
                float:right;
            }
                /* left column */
                #left-column {
                	float:left;
                	padding:1px 14px 0 12px;
                	width:151px;
                }

                /* right column */
                .right-column {
                	float:right;
                    margin-right:25px;
                	width:180px;
                }

                /* center column */
                #center-column {
                	float:left;
                	min-height:584px;
                	padding:12px 16px 0 13px;
                    width:78%;
                }

        /* footer */
        #footer {
        	width:100%;
        	height:15px;
        	background:url(../img/admin/footer-middle.jpg) repeat-x;
            clear:both;
    	}
            #footer .left, #footer .right{
            	width:19px;
            	height:15px;
        	}

            #footer .left{
            	background:url(../img/admin/footer-left.jpg) no-repeat left bottom;
            }

            #footer .right{
                float:right;
            	background:url(../img/admin/footer-right.jpg) no-repeat right bottom;
            }

        #bottom-credits{
            width:99%;
            margin:auto;
        }


/* left column styles */
#left-column a {color:#3E3E3E;}
#left-column h3 {
	font-size:11px;
	margin:0;
	color:#fff;
	background:url(../img/admin/bg-left-header.gif) no-repeat left top;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
}

#left-column .link {
	display:block;
	width:142px;
	height:25px;
	background:url(../img/admin/bg-left-link.gif);
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
}

/**
    Main Content styles
*/
.top-bar {
	float:left;
	padding:0 0 0 9px;
	margin:0 0 4px 0;
}

    /* text page header */
    .top-bar h1 {
    	font:20px/21px verdana,sans-serif;
    	color:#43729F;
    	margin:0 0 4px 0;
    }

    .main-actions{
        float:right;
    }


/* table container */
div.table {
	float:left;
	position:relative;
	width:100%;
	margin:0 0 37px 0;
}

table.listing {
	border-bottom:1px solid #9097A9;
	width:100%;
	padding:0;
	margin:0;
	border:1px solid #9097A9;
}

table.listing th {
	border-top:0 !important;
}

table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}

div.table img.left {
	position:absolute;
	top:0;
	left:0;
}

div.table img.right {
	position:absolute;
	top:0;
	right:0px;
}


/* table styles */
table.listing td,
table.listing th {
	border:0px dotted #ffffff;
}

table.listing th {
	background:#9097A9;
	color:#fff;
	padding:5px;
    text-align:left;
}

.actions{
    width:100px;
}

table.listing td {
	background:#D8D8D8;
	color:#000;
	padding:3px 5px;
}

table.listing .bg td {
	background:#ECECEC;
}

table.listing .white td {
	background:#fff;
}

table.listing .first {border-left:0px solid #9097A9;text-align:left;}
table.listing .last {border-right:0px solid #9097A9;}

table.listing th.first {background:#9097A9 url(../img/admin/bg-th-left.gif) no-repeat left top;border-left:0;}
table.listing th.last {background:#9097A9 url(../img/admin/bg-th-right.gif) no-repeat right top;border-right:0;}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form .last {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:176px;
	height:25px;
	background:#9097A9 url(../img/admin/bg-select.gif);
	color:#fff;
}

div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
}

div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;
}

.title{
    width:99%;
}

.box ul{
    margin:0;
    padding:0;
    list-style:none;
}

.adminTopBar{
}