img {
    border:none;
}

.clr {
    clear:both;
}

.floatleft {
    float:left !important
}

.floatright {
    float:right !important
}

.bold {
    font-weight:bold !important
}

.normal {
    font-weight:normal !important
}

.block {
    display:block !important
}


/**
 * niceBox
 */
.niceBox{
    margin-bottom: 10px;
	overflow:auto;
}
    .niceBox .top{
        background:url("../img/niceBox/border.png") repeat-x scroll 0 0 transparent;
    }
    .niceBox .top .top {
       background: url(../img/niceBox/crn_tr_dark.png) 100% 0 no-repeat;
    }

    .niceBox .top .top .top {
       background: url(../img/niceBox/crn_tl_dark.png) 0 0 no-repeat;
   }


    .niceBox{
        background:url("../img/niceBox/crn_tr_dark.png") no-repeat scroll 100% 0 transparent;
    }

    .niceBox .top, .niceBox .bottom {
    	height: 6px;
    	overflow: hidden;
    	background-color: #f8f8f8;
    }

    .niceBox .middle {
    	border-left:      1px solid #ccc;
    	border-right:     1px solid #ccc;
    	padding:          5px 10px;
        background-color: #F8F8F8;
		overflow:auto;
    }

    .niceBox .bottom {
        background: url(../img/niceBox/border.png) repeat-x scroll 0 5px #F8F8F8;
    }

    .niceBox .bottom .bottom {
        background: url(../img/niceBox/crn_br_dark.png) scroll 100% 0 no-repeat;
    }

    .niceBox .bottom .bottom .bottom {
        background: url(../img/niceBox/crn_bl_dark.png) scroll 0 0 no-repeat;
    }

/**
 * infoBox
 */
.infoBox {
    width:98%;
}
    .infoBox .heading {
    	background:     #7E878A;
    	border:         1px solid #B8B8B8;
    	color:          #ffffff;
    	text-transform: uppercase;
    	padding:        3px 10px;
        overflow:       hidden;
    }

    .infoBox .body {
        width:         143px;
    	background:    #EBEBEB;
    	border:        1px solid #B8B8B8;
    	padding:       5px;
    	margin-bottom: 5px;
    }

    .infoBox .body img{
        vertical-align: middle;
    }

    .infoBox .body a:hover{
        text-decoration:none;
        font-weight:bold;
    }

    .quickLink{
        text-decoration: none;
    	display:         block;
    	width:           142px;
    	height:          25px;
    	background:      url(../img/bg-left-link.gif);
    	margin-bottom:   5px;
    	padding-left:    9px;
    	line-height:     25px;
    	color:           #60635A;
    }


/**
 * Mass actions
 */
.massActions{
    right:    0;
}
.massActions .wrapper{
	float: right;
}

.massActions button{
	float:   left;
	padding: 1px 5px;
	background: #F8F8F8;
	border: 1px solid #f8f8f8;
	color: #000;
	margin: 0px 5px;
	text-align: center;
	font-size: 0.8em;
	cursor: pointer;
}

.massActions button span{
	display: block;
}

.massActions button:hover {
	border-color:#EEEEEE #CCCCCC #CCCCCC #EEEEEE;
	border-left:1px solid #EEEEEE;
	border-style:solid;
	border-width:1px;
	text-decoration:none;
}


/**
 * filter
 */
.filter{
    line-height:     21px;
    text-decoration: none;
}
    .filter .wrap{
        display:table;
        float:right;
    }

    .filter a:hover {
        text-decoration: none;
        color:           #FF7700;
    }

    .filter a,
    .filter span a {
    }

    .left,
    .left div{
        float: left;
    }


    .filter .left{
        float:       left;
        margin-left: 5px;
        height:      22px;
    }

    .filter .left{
        background: url( ../img/button-left.png ) no-repeat scroll 0 0 transparent;
    }

    .filter .remove{
        height:        22px;
        padding-right: 25px;
        padding-left:  10px;
    }

    .filter .left .remove{
        background: url( ../img/button-remove.png ) no-repeat scroll 100% 0 transparent;
    }

/**
 * messages
 */
#flashMessage{
	-moz-border-radius:10px 10px 10px 10px;
	background:none repeat scroll 0 0 #EBEBEB;
	border:1px solid #FF9600;
	bottom:10px;
	font-size:120%;
	right:10px;
	padding:10px;
	position:fixed;
	text-align:center;
	z-index:100;
}
/*
* default id for flash messages
*/
div.message {
	font-weight: bold;
}
/**
 * Status images
 */
.status img,
.status span{
    padding-right: 5px;
    rloat:         left;
}


/**
	shop image layout
*/
.shop .image{
	margin:           5px;
	padding:          5px;
	width:            90px;
	height:           95px;
	border-width:     1px;
	border-style:     solid;
	border-color:     #cccccc #eeeeee #eeeeee #cccccc;
	float:            left;
	background-color: #ffffff;
	overflow:         hidden; 
}
.shop .image:hover{
	border-width: 2px;
	padding:      4px;
	z-index:      100px;
	border-color: #eeeeee #cccccc #cccccc #eeeeee;
}

.shop .image .img:hover { 
	height: 100%;
	width:  auto;
} 
.shop .image input[type="checkbox"]{
	float: right;
}
.shop .image span{
	font-weight: bold;
}