/* FORM STYLES */
form {font:1em/1 Verdana,Geneva,Kalimati,sans-serif; color:#333;}
fieldset {border:1px solid #999;}
fieldset fieldset {border:none;}
fieldset fieldset legend {font:bold 1em/1 Verdana,Geneva,Kalimati,sans-serif; color:#000;}
legend {font:1.5em/1 "Trebuchet MS",Helvetica,Jamrul,sans-serif; color:#000;}
.textfield input, .file input, .dropdown select, .textarea textarea, div input.innertextfield {font:1em/1 Verdana,Geneva,Kalimati,sans-serif; color:#000; border:1px solid #999; background:#ececec;}
.textfield input:hover, .file input:hover, .dropdown select:hover, .textarea textarea:hover, div input.innertextfield:hover {border-color:orange;}
.textfield input:focus, .file input:focus, .dropdown select:focus, .textarea textarea:focus, div input.innertextfield:hover {border-color:#333;}
.textfield input:active, .file input:active, .dropdown select:active, .textarea textarea:active, div input.innertextfield:active {border-color:#333;}
.textfield input:focus:hover, .file input:focus:hover, .dropdown select:focus:hover, .textarea textarea:focus:hover, div input.innertextfield:focus:hover {border-color:orange;}
.checkbox input, .radio input {border:none; background:transparent;}
button {font:1.2em/1 Verdana,Geneva,Kalimati,sans-serif; border:1px solid #666; background:#666; color:#fff;}
button:hover {border-color:#000; color:orange;}
optgroup {font:bold 1em/1 Verdana,Geneva,Kalimati,sans-serif;}
option {font:1em/1 Verdana,Geneva,Kalimati,sans-serif;}


/* FORM LAYOUT */
form {}
fieldset {margin-bottom:3em; padding:10px;}
fieldset fieldset {padding:0;}
legend {margin-bottom:1em;}
.textfield, .textarea, .file, .dropdown, .radio, .checkbox, .buttons, fieldset fieldset {margin-bottom:1em;}
.textfield input, .file input, .dropdown select, .textarea textarea, input.innertextfield {padding:2px 5px;}
.textfield input, .file input, .dropdown select, .textarea textarea {width:250px;}
textarea {height:6em;}
.textfield input, .file input, .dropdown select, .textarea textarea {display:block; margin:0.1em 0 0 0;}
.checkbox input, .radio input {margin-right:5px;}
div input.innertextfield {display:inline; margin-right:0;}
.buttons {}
button {padding:4px;}
optgroup {}
option {padding:1px 3px;}

label{
	float:left;
	width:100px;
}

.config label{
	float:left;
	padding-right:10px;
	text-align:left;
	width:100px;
}
.config select{
	width:140px;
}

input{
	margin:1px;
}

.select .checkbox{
	float:left;
	margin:1px;
	padding:1px;
}
.checkbox{
	clear: both;	
}

.filter-form label{
	float:none;
	padding-right:10px;
}

.box.tasks textarea{
	clear: both;
	float: left;
	width: 98%;
}

.input.select{
	clear:both;
}

/** 
	time picker
*/
select.timePicker{
	width:48px;
	margin-bottom:10px;	
}
/** 
	date picker 
*/
.calBox {
  background-color: #928d81;
  padding: 2px;
  -moz-border-radius: 4px;
  text-align: center;
  color: white;
  width:240px;
  margin-bottom:5px;
  margin-top:5px;
}

.calElement {
  margin: 1px;
  display: inline-block;
  overflow:hidden;
}

.calYear {
  font-size: 20px;
  border-bottom: 1px dashed #666;
  padding-bottom: 5px;
  margin-bottom: 5px
}

.calYear .calElement {
  border: 1px solid #999999;
}

.calMonth {
  border-bottom: 1px dashed #666;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.calMonth .calElement {
  font-size: 14px;
  border: 1px solid #999999;
}

.calDay {
}

.calDay .calElement {
  font-size: 12px;
  border: 1px solid #999999;
}

.calDay .calElement.prev {
  background: transparent url(images/prev.png) no-repeat 0 18px;
  width: 6px;
  height: 35px
}

.calDay .calElement.next {
  background: transparent url(images/next.png) no-repeat 0 18px;
  width: 6px;
  height: 35px;
}

span.calElement.next:hover, span.calElement.prev:hover {
  border: 1px solid #999999;
  cursor: pointer;
}

.calDay .calElement .dayNumber {
  font-size: 20px;
}


.calElement.selected {
  background-color: #404040;
  border: 1px solid #404040;
  -moz-border-radius: 3px
}

span.calElement:hover {
  background-color: #404040;
  border: 1px solid #404040;
  -moz-border-radius: 3px;
  cursor: pointer;
}

.calElement.today {
  border: 1px solid #e0e000;
  -moz-border-radius: 3px
}