/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com

*/
@import url('reset.css');

*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background: #F9F9F7 url('../img/a1.gif') repeat-x;
    font-size: 11px;
    font-family: "trebuchet ms", helvetica, sans-serif;
    color: #8C8C73;
    line-height: 18px;
}

a
{
color: #FF7800;
    text-decoration: underline;
}

a:hover
{
text-decoration: none;
}

sup
{
    font-size: 0.5em;
}


p
{
    margin-bottom: 14px;
    text-align: justify;
}

img.picA
{
    position: relative;
    top: -2px;
    background: url('../img/a47.gif') no-repeat;
    width: 76px;
    height: 74px;
    padding: 8px;
}

img.picB
{
    position: relative;
    top: -2px;
    background: url('../img/a26.gif') no-repeat;
    width: 146px;
    height: 75px;
    padding: 7px;
}

img.floatleft
{
    float: left;
    margin: 0px 14px 3px 0px;
}


ul.linklist
{
    list-style: none;
}

ul.linklist li
{
    border-top: solid 1px #EEEEEE;
    padding-top: 5px;
    margin: 5px 0px 0px 0px;
}

ul.linklist li.first
{
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#upbg
{
    position: absolute;
    left: 0px;
    background: #fff url('../img/upbg.gif') no-repeat;
    width: 747px;
    height: 264px;
    z-index: 1;
    top:-2px;
}

#outer
{
    position: relative;
    width: 747px;
    margin: 0 auto;
    background: #fff url('../img/abg.gif') repeat-y;
}

#inner
{
    position: relative;
    padding: 13px 30px 13px 30px;
    z-index: 2;
}

#header
{
    position: absolute;
    background: #FF7800 url('../img/a8.gif') repeat-x;
    width: 202px;
    height: 92px;
    color: #fff;
    padding-left: 20px;
}

#header span
{
font-weight: normal;
}

#header h1
{
    position: absolute;
    font-size: 23px;
    letter-spacing: -1px;
    top: 30px;
    height: 92px;
}

#header h2
{
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    color: #FCE2CA;
    top: 51px;
}

#header sup
{
    color: #FCE2CA;
}

#splash
{
    position: absolute;
    right: 30px;
    background: #EAEAE2 url('../img/a10.jpg') no-repeat;
    width: 458px;
    height: 92px;
}

#menu
{
    position: relative;
    background: #46461F url('../img/a16.gif') repeat-x;
    height: 67px;
    padding: 0px 20px 0px 5px;
    margin: 98px 0px 20px 0px;
}

#menu ul
{
}

#menu ul li
{
    display: inline;
    line-height: 52px;
    padding-left: 3px;
}

#menu ul li.first
{
    border-left: 0px;
}

#menu ul li a
{
    background-color: transparent;
    background-repeat: repeat-x;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

#menu ul li a:hover
{
    background: #fff url('../img/a18.gif') repeat-x top;
    color: #4A4A24;
    text-decoration: none;
}

#date
{
    position: absolute;
    top: 0px;
    line-height: 52px;
    color: #BDBDA2;
    right: 30px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -1px;
}

#secondarycontent
{
    position: relative;
    width: 180px;
    float: right;
    margin-top : 100px;
}

#secondarycontent h3
{
    position: relative;
    top: 4px;
    font-size: 16px;
    line-height: 25px;
    color: #656551;
    letter-spacing: -1px;
    background: url('../img/a22.gif') bottom repeat-x;
    padding: 0px 0px 10px 10px;
    margin-bottom: 20px;
}

#secondarycontent .content
{
    padding: 0px 10px 0px 10px;
    margin-bottom: 30px;
    clear:both;
}

#primarycontent
{
    position: relative;
    width: 480px;
    float: left;
    margin-top:100px;
}

#primarycontent h3
{
    position: relative;
    top: 4px;
    font-size: 18px;
    line-height: 25px;
    color: #656551;
    letter-spacing: -1px;
    background: url('../img/a22.gif') bottom repeat-x;
    padding: 0px 0px 10px 15px;
    margin-bottom: 20px;
}

#primarycontent .content
{
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
}
.content .post
{
    width:395px;
    float:left;
}

#primarycontent .post
{
    margin-bottom: 30px;
}

#primarycontent .post .header
{
    position: relative;
}

#primarycontent .post .date
{
    position: absolute;
    right: 15px;
    top: 0px;
    line-height: 35px;
    color: #AFAFA4;
    font-weight: bold;
}

#primarycontent .post .content
{
    margin-bottom: 0px;
}

#primarycontent .post .footer
{
    position: relative;
    background: url('../img/a33.gif') repeat-x;
    height: 64px;
}

#primarycontent .post .tags{
    text-align:right;
}

#primarycontent .post .footer ul
{
    list-style: none;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#primarycontent .post .footer ul li
{
    display: inline;
    line-height: 14px;
    padding-left: 17px;
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

#primarycontent .post .footer ul li.printerfriendly
{
    background-image: url('../img/a41.gif');
}

#primarycontent .post .footer ul li.comments
{
    background-image: url('../img/a36.gif');
}

#primarycontent .post .footer ul li.readmore
{
    background-image: url('../img/a38.gif');
}

#footer
{
    position: relative;
    clear: both;
    height: 66px;
    text-align: center;
    line-height: 66px;
    background-image: url('../img/a50.gif');
    color: #A8A88D;
}

#footer a
{
    color: #8C8C73;
}

input.title{
    width:100%;
}

.tag_item
{
    float:left;
    padding-right:5px;
}

.right-item{
    clear:both;
}

.disabled{
    display:none;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
    color: #fff;
    background: #ffa20c;
    border: 1px solid #781351;
    padding: 2px 6px;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
}
form div.required {
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	width: auto;
	vertical-align: bottom;
}

/* Notices and Errors */
div.message {
	clear: both;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
}