/* @override http://localhost/mark_story/site/css/geshi.css */
/**
* Geshi CSS file
*
*/

/*
* Global geshi styles
**********************/
#primarycontent pre,
#primarycontent div.code {
	line-height: 1.5em;
	font-size: 10px;
	padding: 0;
	background: #f6f6f6;
	border: 1px solid #c0c0c0;
	white-space:normal;
}
#primarycontent div.code .plain-text {
	border:0;
	margin:0;
	padding:0;
	white-space:pre;
}
#primarycontent .comment pre {
	white-space:pre;
	border-left: 0;
	border-right: 0;
	padding:3px;
}
#inner pre ol,
#inner div.code ol {
	list-style: decimal;
	list-style-position: outside;
	padding: 0;
	margin: 0;
}
#inner pre ol li,
#inner div.code ol li {
	margin: 0 0 0 35px;
	padding: 0;
	color: #000;
	clear: none;
	list-style: decimal;
	white-space:pre;
}
pre ol li div,
div.code ol li div {
	color:#000;
}

pre[lang=php] ol div,
pre.php ol div,
div[lang=php] ol div,
div.code.php ol div {
	color:#fd1435;
}

/* Line highlights */
.li1 {
	background: #f2f2f2;
}

/* comments */
.co1,
.coMULTI {
	color:#5c9dff;
}
/* methods */
.me1{
	color:#000;
}
.me0 {

}
.me2 {
	color:#000;
}

/* brackets */
.br0 {
	color:#222;
}

/* strings */
.st0 {
	color:#b701bb;
}

/* keywords */
.kw1 {
	color: #fd1435;
}
.kw2 {
	color:#000000;
    font-weight:bold;
}

.kw3 {
	color:#505e80;
}

/* numbers */
.nu0 {
	color:#0a0aa5;
}

/* vars */
.re0 {
	color:#ff00ff;
}

.de1{
    font-weight:bold;
}


/*
* CSS selectors
*****************/
/* classnames */

[lang=css] .kw2,
.css .kw2 {
	color:#0a0aa5;
}
.re1 {
	color: #b701bb;
}
/* px values */
[lang=css] .re3,
.css .re3 {
	color:#059532;
}

/*
* Javascript
****************/
[lang=javascript] .me1,
.javascript .me1 {
	color:#505e80;
}