.ui-slider-horizontal  {
	height:        0.8em;
	width:         255px;
	margin-bottom: 10px;
}

#SpecialDiscount{
	text-align: right;
}

.category_item{float:left;width:120px;color:#353535;height:210px;padding:0 0 0 6px}
.category_item div{float:left;background-color:transparent}
.category_item .category_image{height: 88px; overflow:hidden;}
.category_item .category_image img{-moz-box-shadow:5px 5px 6px #666666;}

.product_item{float:left;width:100px;color:#353535;height:210px;padding:0 0 0 6px; clear:none;}
.product_item div{float:left;background-color:transparent}
.product_item .product_details{height:65px; text-align: center;}
.product_item .product_image{height: 88px; overflow:hidden;}
.product_item .product_image img{-moz-box-shadow:5px 5px 6px #666666;}
.product_item .product{width:100px;color:#353535;font-size:90%;height:35px;overflow:hidden}
.product_item .price{width:100px;padding-bottom:6px}
.product_item .price span{clear:both; text-decoration: line-through; font-size:90%;}
.product_item .product a{text-align: center;}

.product_item .product_image a span.isSpecial,
.product_item .product_image a span.isFeatured{
	left:47px;
	opacity:0.8;
	position:relative;
	bottom:30px;
	visibility:visible;
}
.product_item .product_image a span.isSpecial img,
.product_item .product_image a span.isFeatured img{
	-moz-box-shadow: none;
}

.product_item .product_image:hover a span.isSpecial,
.product_item .product_image:hover a span.isFeatured{
	visibility:hidden;
}

.centerModule{
	clear:both;
	padding-top: 20px;
}

.moreLink{
	marign-bottom: 10px;
	padding-left: 480px;
}

.categoryBack{
	float:         right;
	padding-right: 10px;
	padding-top:   7px;
}

.showMore{
	width:80%;
	text-align:center;
	clear:both;
	box-shadow: 5px 5px 6px #666666;
	-moz-box-shadow:5px 5px 6px #666666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 5px 5px 15px;
	background-color: #DFDFDF;
	border: 1px solid #7F7F7F;
	margin:auto;
}

.products .neighbors{	
	width:80%;
	text-align:center;
	clear:both;
	box-shadow: 5px 5px 6px #666666;
	-moz-box-shadow:5px 5px 6px #666666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 5px 5px 15px;
	background-color: #DFDFDF;
	border: 1px solid #7F7F7F;
	margin: 10px auto 15px;
	overflow: auto;
}

.products .neighbors img{
	display:block;
}

.products .neighbors .prev,
.products .neighbors .next{
	padding: 10px;
}

.products .neighbors .prev{	
	float:   left;
}
.products .neighbors .next{	
	float:   right;
}

.viewProduct .imageGallery{
	float:left;
	width:230px;
}
.viewProduct .info{
	float:right;
	width: 300px;	
}

.viewProduct table{
	font-size:90%;	
}

.viewProduct .extra{
	clear:both;
}

.mainImage img{
	height: 220px;
	width: 220px;
	box-shadow: 5px 5px 6px #666666;
	-moz-box-shadow:5px 5px 6px #666666;
}

.checkout {
	margin-top:10px;	
}



	
/**
	Galery
*/
.galleria{list-style:none;width:200px;padding-top:20px;}
.galleria li{display:block;width:40px;height:40px;overflow:hidden;float:left;margin:0 10px 10px 0;border:3px double #DFDFDF;padding:3px;}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer;}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:400px} /* MSIE bug */ 

/**
Image selector
*/
.image-select-container{
	clear:both;
}

.image-select img{
	border:1px solid gray;
	margin:2px;
	padding:3px;
	-webkit-box-shadow: 2px 2px 2px #666666;
	-moz-box-shadow: 2px 2px 2px #666666;
	box-shadow: 2px 2px 2px #666666;
}

.image-select-container .selected img{
	border:1px solid red;
}