body {
	color: #333;
	font-size: 11px;
	padding: 20px 0 40px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2 {
	padding: 20px 0 0;
	text-align: center;
}

p {
	border: 1px solid #666;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}