body{
	background: url("../img/admin_nav/content_bg.jpg") repeat-x scroll 0 0 #004D84;
	font-family: "Helvetica Neue", "Trebuchet MS", Arial, sans-serif;
	font-size: 16px;
}
pre {
	background-color: #efefef;
	color: #000;
	padding: 10px;
	border: #AFAFAF solid 1px;
	clear:both;
}
img{
	border: 0px solid;
}
#wrap{
	margin:15px auto auto;
	padding-bottom:15px;
	width:980px;
	background-image: url('../img/transparent-30.png');
	border-radius: 10px;
	-moz-border-radius: 10px;
	overflow: auto;
}

h1{
	background: url("../img/header_bg.gif") repeat-x scroll center bottom transparent;
	color: #004A7E;
	font-size:1.5em;
	height:40px;
	line-height:2.3em;
	padding:0 20px;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin-top:0;
}
	h1.no-gap{
		margin-bottom: 0;
	}

	.listing.no-gap{
		-moz-box-shadow: none;
		-moz-border-radius: 0 0 5px 5px;
	}
	
	h1 small{
		float: right;
		font-size:10px;
		line-height:20px;
	}

	h1 a{
		color: #000233
	}

.filter-form,
table.listing,
.adminTopBar{
	margin-bottom: 15px;
	-moz-box-shadow:0 0 10px #808080;
	background-color: #FDFDFD;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:auto;
	padding-bottom:10px;
}
.filter-form{
	display:none;
}

table.listing{
	margin-top: 0;
	padding:10px;
	color:#202020;
	width: 100%;
	border-collapse: separate;
}

table.listing th,
table.listing td{
	display:table-cell;
}

table.listing thead th,
table.listing tfoot th{
	color:#3A3A3A;
	font-size:1.1em;
	padding:10px;
	text-align:left;
}
table.listing thead th{
	border-bottom:4px solid #004B80;
}
table.listing tfoot th{
	border-top:4px solid #004B80;
}

table.listing td{
	padding:10px;
	border-bottom:1px solid #D6D6D6;
}

table.listing tr.multi-line td{
	border-bottom: none;
}
/**
	Core
*/
.powered-by{
	float: right;
	margin-right: 10px;
}
	.powered-by a,
	.powered-by a:hover{
		text-decoration: none;
		font-weight: bold;
	}


/**
 * Mass actions
 */
.massActions{
	margin-right:10px;
}
.massActions .wrapper{
	float: right;
}

.massActions button{
	float:   left;
	padding: 1px 5px;
	background: transparent;
	border: 0px solid;
	color: #000;
	margin: 0px 5px;
	text-align: center;
	font-size: 0.8em;
	cursor: pointer;
}

.massActions button span{
	display: block;
}

.massActions button:hover {
	-moz-box-shadow:0 0 10px #808080;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration:none;
}
/**
	slide out pannels
*/
#dock.plugins a.trigger{
	top: 40px;
}
#dock.plugins .panel{
	top: 20px;
}

#dock.todo a.trigger{
	top:80px;
}
#dock.todo .panel{
	top: 60px;
}

#dock div.panel {
	position: absolute;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.85);
	border:1px solid #111111;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	width: auto;
	height: auto;
	padding: 30px 30px 30px 155px;
	z-index: 10;
	margin-right:20px;
}

#dock a.trigger,
#dock a.trigger:hover{
	width:90px;
	position: absolute;
	text-decoration: none;
	left: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#ffffff;
	padding:5px 5px 5px 35px;
	font-weight: 700;
	border:1px solid #444444;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	display: block;
}
#dock a.trigger{
	z-index: 11;
	background:#333333 url(../img/plus.png) 5% 55% no-repeat;
}

#dock a.trigger:hover{
	background:#222222 url(../img/plus.png) 5% 55% no-repeat;
}
#dock a.active.trigger {
	background:#222222 url(../img/minus.png) 5% 55% no-repeat;
}


/**
	admin sub nav
*/
.module.admin-menu{
	width:980px;
	margin:auto;
}
#menucontainer *{
	list-style:none;
}

#menucontainer{
	height:50px;
	color:#FFFFFF;
	font-family:Helvetica,Arial,Verdana,sans-serif;	
	margin-left:0;
	width:980px;
}

#menunav{
	position:relative;
	margin-top:-3px;
	height:38px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	background: transparent url(../img/admin_nav/menu_background.png) repeat-x bottom left;
	padding:0 0 0 20px;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}

#menunav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	float:left;
}

#menunav ul li{
	display:block;
	float:left;
	margin:0 1px;
}

#menunav ul li.icon img{
	margin-top: 8px;
	width: 24px;
	height: 24px;
	margin-right:10px;
}

#menunav ul li a{
	display:block;
	float:left;
	color:#EAF3F8;
	text-decoration:none;
	padding:0 20px;
	height:38px;
	line-height:420%;
}

#menunav ul li a span{
	padding:12px 20px 0 0;
	height:21px;
	float:left;
}

#menunav ul li a:hover{
	color:#fff;
	background:transparent url(../img/admin_nav/hover.jpg) repeat-x bottom left;
}

#menunav ul li a:hover span{
	display:block;
	width:auto;
	cursor:pointer;
}

#menunav ul li a.current,
#menunav ul li a.current:hover{
	color:#fff;
	background:#1D6893 url(../img/admin_nav/left.jpg) no-repeat top left;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	line-height:275%;
}

#menunav ul li a.current span{
	display:block;
	padding:0 20px 0 0;
	width:auto;
	background:#383636 url(../img/admin_nav/right.jpg) no-repeat top right;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	height:38px;
}

.logout-link{
	float:right;
	height:24px;
	margin-right:8px;
	margin-top:8px;
}


/**
	Dashboard
*/
form fieldset,
.dashboard{
	background-color:#F9F9F9;
	border:1px solid #AFAFAF;
	overflow: auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding-bottom:10px;
}
	.dashboard:hover .info{
		border-top-color: #666666;
		color: #666666;
	}
	.dashboard:hover .info a{
		color: #666666;
	}
	.dashboard .info a{
		color: #E4E7EA;
	}
	
	.dashboard .info{
		border-top:1px dotted #E4E7EA;
		margin-left:10px;
		margin-right:20px;
		margin-top:22px;
		text-align:justify;
		color: #E4E7EA;
	}

	.dashboard .chart{
		float: left;
		padding-left:10px;
	}

	.dashboard.half{
		/** from 960gs grid_8 */
		width:460px;
		margin-right:10px;
		display:inline;
		float:left;

		clear:none;
		margin-left:8px;
	}

	.dashboard ul.info{
		list-style:none outside none;
		margin:0 0 0 10px;
		padding-left:10px;
		padding-top:10px;
		width:auto;
		padding-right:10px;
	}

.dashboard ul.icons{
	list-style:none outside none;
}

.dashboard ul.icons li{
	float:left;
	margin:7px;
	vertical-align:baseline;
	border:4px solid #FFFFFF;
}
	.dashboard ul.icons li span{
		clear: both;
		text-align: center;
	}

	.dashboard ul.icons li a{
		color:#666666;
		background-position:50% 5px;
		background-repeat:no-repeat;
		display:block;
		height:20px;
		padding:70px 0 0;
		text-align:center;
		width:70px;
		-moz-border-radius:3px 3px 3px 3px;
		outline:medium none;
		text-decoration:none;
		background-color:#f3f3f3;
		border:#dcdfe3 solid 1px;
		border-color:#dcdfe3 #d0d4d8 #d0d4d8 #dcdfe3;
	}
	
	.dashboard ul.icons li a:hover{
		background-color:#e4e7ea;
		border-color:#c3c9ce;
		color:#333;
	}

/**
	pagination
*/
ul.pagination{
	list-style:none outside none;
}

	ul.pagination li {
		cursor:pointer;
		float:left;
		list-style:none outside none;
		margin:2px;
		padding:4px 0;
		position:relative;
	}
		ul.pagination li.form{
			padding-top: 5px;
		}
		
		ul.pagination li.text{
			padding-top: 5px;
		}

		ul.pagination li.current{
			padding:8px 4px;
			cursor:auto;
		}

		ul.pagination li a{
			-moz-border-radius:3px 3px 3px 3px;
			display:block;
			padding:3px 6px 2px;
			background: repeat-x scroll 50% 50% #F6F6F6;
			border:1px solid #DDDDDD;
			color:#0073EA;
			font-weight:bold;
			outline:medium none;
			text-decoration:none;
			cursor:pointer;
			list-style:none outside none;
		}



/**
	Tool tips
*/
#tooltip {
	position:         absolute;
	z-index:          3000;
	border:           3px solid #111;
	background-color: #eee;
	padding:          5px;
	opacity:          0.85;
	-moz-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
}

#tooltip h3,
#tooltip div {
	margin: 0;
}

/**
Forms
*/
fieldset{
	padding:0;
}
fieldset legend{
	width: 100%;
}
/** required fields */
form .required input,
form .required textarea,
form .required select,
form select.required{
	background-color: #FFDAAF;
}
form label{
	margin-left: 10px;
	display: block;
	clear: both;
}
form .checkbox label{
	clear: none;
	display: inline;
}
form div.checkbox{
	float:left;
	width:23%;
}
form .required label{
	font-weight: bold;
}
form input,
form select,
form textarea{
	border:3px solid #CFCFCF;
	color:#616161;
	margin:10px;
	width:96%;
	padding:5px;
}

form select{
	padding:2px;
	background-color:#FFFFFF;
	width: 98%;
}
	form select option{
		margin:2px;
		padding-left:10px;
	}
	
	form .date select,
	form .smaller select{
		width: 31%;
		margin-right: 9px;
	}
	form .datetime select{
		width: 14%;;
		margin-right: 13px;
	}

form div.error{
	border: 1px dotted #FFDAAF;
	margin:10px;
}
div.error .error-message{
	color: red;
	margin-left: 20px;
	margin-bottom:5px;
	font-weight: bold;
	font-style: italic;
}

/** plugin specific stuff */
form div.static{
	display: none;
}

.user-warning{
	width: 930px;
	margin: auto;
	font-size: 140%;
	text-align: center;
	-moz-border-radius: 5px;
	background-color: #F9F9F9;
	padding: 5px;
	margin-bottom: 10px;
}
	.user-warning img{
		margin-right: 10px;
		vertical-align:middle;
	}

	.user-warning.warning{
		border: 2px solid #E3AD00;
	}

	.user-warning.error{
		border: 2px solid #C10400;
	}

	.user-warning.success{
		border: 2px solid #1BAE0C;
	}

	.error-message{
		color: #ff0000;
	}


/* table container */
div.table {
	float:  left;
	width:  100%;
	margin: 0 0 5px 0;
}

table.listing {
	width:               100%;
	background-image:    url("../img/core/infinitas_med.png");
	background-position: right 90%;
	background-repeat:   no-repeat;
}


/* table styles */
table.listing th {
	padding:    5px;
    text-align: left;
}

table.listing .highlightRowSelected td,
table.listing .bg.highlightRowSelected td,
table.listing .highlightRowSelected.highlightRowRelated td,
table.listing .bg.highlightRowSelected.highlightRowRelated rt {
	background:  none repeat scroll 0 0 #E1FFDF;
	font-weight: bold;
}

table.listing .highlightRowRelated td,
table.listing .bg.highlightRowRelated td,
table.listing .highlightRowRelated.highlightRowSelected td,
table.listing .bg.highlightRowRelated.highlightRowSelected td {
	background:  none repeat scroll 0 0 #FFE2BF;
	font-weight:bold;
}

table.listing tr:hover td{
	background:  none repeat scroll 0 0 #FFFCDF;
	text-decoration: italics;
}

.actions{
    width: 100px;
}

table.listing td {
	color:      #000000;
	padding:    3px 5px;
}

table.listing td,
table.listing th{
	opacity:    0.95;
	filter:     alpha(opacity=99);
	background: #ffffff;
}

table.listing .bg td {
	background: #ECECEC;
}

table.cake-sql-log{
	display: none;
}