#comments .comments .comment textarea{
	width: 98%;
	height: 15px;
}
#comments .comments img{
	vertical-align: top;
	float:left;
}
#comments .comments p{
	float: right;
	width: 90%;
}
#comments .comments .comment .submit{
	display: none;
}

#comments .comments form label{
	clear:left;
	float:left;
	display:block;
	padding-bottom:10px;
	width:100px;
}
#comments .comments form input{
	float: left;
	padding-bottom:3px;
	margin: 3px;
}