table.listing tr.unread checkbox{
	border-color: red;
}
table.listing tr.unread td{
	font-weight: bold;
}

.mail .email > *{
	margin: auto;
	clear: both;
}

.newsletter.bounced_mails.admin_view h1{
	margin-bottom: 0;
}
.newsletter.bounced_mails.admin_view .mail{
	margin: 5px;
}

.newsletter.newsletters.contact label {
	width: 100px;
	display: block;
	float: left;
}

.newsletter.newsletters.contact input {
	width: 200px;
}
.newsletter.newsletters.contact textarea{
	width: 100%;
	height: 200px;
}